body{
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial, Helvetica;
    background-color: rgb(231, 229, 229);

}

.header{
    display: flex;
    padding: 15px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background:rgb(231, 229, 229);
}

img{
    width:min(35vw, 300px) ;
    cursor: pointer;
}

.logo-link{
    flex-grow:1;
    margin: auto;
    cursor: default;
}

.nav-bar{
    flex-grow: 1;
    flex-shrink: 1;
}

.nav-list{
    display:flex;
    justify-content: end;
}

.nav-bar ul li{
    list-style: none;
    margin: auto 10%;
    white-space: nowrap;
}

@media (max-width: 749px){
    .header {
        font-size:  2.2vw;
    }
}

.nav-bar ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    cursor: pointer;
    flex-shrink: 1;
}



/* ========= Hero Section ======== */

#hero-section{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 7%;
}

@media (max-width: 900px){
    #hero-section h2{
        margin-top: 55px;
    }
}

@media (max-width: 600px){
    #hero-section ,#hero-form, #hero-form input{
        font-size:  2vw;
    }

    
}

#hero-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}


#hero-form input{
    max-width: 300px;
    width: 100%;
    min-width: 120px;
    padding: 5px;
}

#hero-form button{
    padding: 5px 20px;
    text-transform: uppercase;
    background-color: rgb(169, 211, 15);
    border:none;
    font-weight: bolder;
    transition: 0.5s;
    margin-bottom: 7%;
}

#hero-form button:hover{
    cursor: pointer;
    background-color: rgb(139, 173, 16);
}



/* ====== Feature section ======= */

.features{
    display: flex;
    
}

.grid{
    display: flex;
    margin: 2% 0;
    padding-left: 7%;
    justify-content: center;
}

.desc{
    width: 800px;
}




#features .grid .icon img {
    max-width: min(20vw, 120px);
    margin-right: 3vw;
}


@media (max-width: 600px){
    .grid .desc h2, .grid .desc p{
        font-size:  2vw;
    }}


    /* ======= Video section ======= */

.video-section{
    display: flex;
    padding-top: 4%;
}

.video-section iframe {
    margin: auto;
}

@media (max-width: 600px){
    .video-section iframe{
        width: min(82vw, 560px);
        height: min(44vw, 315px);
       
    }}

    /* ==========products section========= */

    #pay-section{
        display:flex;
        padding: 3% 0;
        justify-content: center;
        gap: 20px 2%;
        flex-direction: row;
        min-width: 100vw;
        flex-wrap: wrap;
    }

    .products{
        
        border: 1px solid black;
        display: flex;
        max-width: 280px;
        flex-direction: column;
        align-items: center;
        width: calc(100% / 3);
        margin: 10px;
    }


    @media (max-width: 1000px){
       .products{ 
        min-width: 300px;
        margin:0;
        
       }
    }

    .products h3{
        box-sizing: border-box;
        background-color: rgb(187, 185, 185);
        margin: 0;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;
        font-size: 1rem;
        padding: 1rem 4rem;
        font-weight: 600;
    }


    .products h2{
        font-size: 1.8rem;
        margin: 0;
        padding: 1rem 0;
        font-weight: 600;
    }

    .products p {
        text-align: center;
        padding: .5rem 5rem;
        line-height: 30px;
    }

    .products-button{
        margin-bottom: 5%;
        background-color: rgb(252, 206, 121);
        border: none;
        padding: .5rem 2rem;
        font-size: 1rem;
        text-transform: uppercase;
    }

    .products-button:hover{
        cursor:pointer;
        background-color: rgb(250, 192, 84);
    }


    /* ========footer======== */

    #footer-section{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: rgb(187, 185, 185);
        width:auto;
    }

    @media (max-width:600px){
        #footer-section{
            margin-left:0;
            width: 600px;
        }
    }

    #footer-section ul{
        display:flex;
        flex-direction: row;
        align-self: flex-end;
    }

    #footer-section ul li{
        list-style: none;
        margin: 10px 20px;
    }

    #footer-section ul li a{
        text-decoration: none;
        color: black;
    }

    #footer-section p{
        align-self: flex-end;
        margin-right: 20px;
        opacity: 0.7;
    }