body{
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial, Helvetica;
    background-color: rgb(231, 229, 229);
}

.header{
    display: flex;
    padding: 15px;
    width: 100%;
    background-attachment: fixed;
}

img{
    width:min(35vw, 300px) ;
    cursor: pointer;
}

.logo-link{
    flex-grow:1;
    margin: auto;
    cursor: default;
}

.nav-bar{
    flex-grow: 1;
    flex-shrink: 1;
}

.nav-list{
    display:flex;
    justify-content: end;
}

.nav-bar ul li{
    list-style: none;
    margin: auto 10%;
    white-space: nowrap;
}

@media (max-width: 749px){
    .header {
        font-size:  2.2vw;
    }
}

.nav-bar ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    cursor: pointer;
    flex-shrink: 1;
}



/* ========= Hero Section ======== */

#hero-section{
    display: flex;
    flex-direction: column;
    align-items:center;
}

@media (max-width: 600px){
    #hero-section ,#hero-form, #hero-form input{
        font-size:  2vw;
    }

    
}

#hero-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}


#hero-form input{
    max-width: 300px;
    width: 100%;
    min-width: 120px;
    padding: 5px;
}

#hero-form button{
    padding: 5px 20px;
    text-transform: uppercase;
    background-color: rgb(169, 211, 15);
    border:none;
    font-weight: bolder;
    transition: 0.5s;
}

#hero-form button:hover{
    cursor: pointer;
    background-color: rgb(139, 173, 16);
}



/* ====== Feature section ======= */

.features{
    display: flex;
    margin: auto;
}

.grid{
    display: flex;
}


#features .grid .icon img {
    max-width: 7vw;
}
