body{
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial, Helvetica;
    background-color: rgb(231, 229, 229);
}

.header{
    display: flex;
    padding: 15px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background:rgb(231, 229, 229);
}

img{
    width:min(35vw, 300px) ;
    cursor: pointer;
}

.logo-link{
    flex-grow:1;
    margin: auto;
    cursor: default;
}

.nav-bar{
    flex-grow: 1;
    flex-shrink: 1;
}

.nav-list{
    display:flex;
    justify-content: end;
}

.nav-bar ul li{
    list-style: none;
    margin: auto 10%;
    white-space: nowrap;
}

@media (max-width: 749px){
    .header {
        font-size:  2.2vw;
    }
}

.nav-bar ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    cursor: pointer;
    flex-shrink: 1;
}



/* ========= Hero Section ======== */

#hero-section{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 7%;
}

@media (max-width: 600px){
    #hero-section ,#hero-form, #hero-form input{
        font-size:  2vw;
    }

    
}

#hero-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}


#hero-form input{
    max-width: 300px;
    width: 100%;
    min-width: 120px;
    padding: 5px;
}

#hero-form button{
    padding: 5px 20px;
    text-transform: uppercase;
    background-color: rgb(169, 211, 15);
    border:none;
    font-weight: bolder;
    transition: 0.5s;
    margin-bottom: 7%;
}

#hero-form button:hover{
    cursor: pointer;
    background-color: rgb(139, 173, 16);
}



/* ====== Feature section ======= */

.features{
    display: flex;
    
}

.grid{
    display: flex;
    margin: 2% 10%;
    padding-left: 7%;
}




#features .grid .icon img {
    max-width: min(20vw, 120px);
    margin-right: 3vw;
}


@media (max-width: 600px){
    .grid .desc h2, .grid .desc p{
        font-size:  2vw;
    }}


    /* ======= Video section ======= */

.video-section{
    display: flex;
    padding-top: 4%;
}

.video-section iframe {
    margin: auto;
}

@media (max-width: 600px){
    .video-section iframe{
        width: min(82vw, 560px);
        height: min(44vw, 315px);
       
    }}

    /* ==========products section========= */

    #pay-section{
        border: 1px solid black;
        display:flex;
        padding: 3% 20%;
        gap: 0 5%;
        
    }

    .products{
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .products h3{
        box-sizing: border-box;
        background-color: rgb(187, 185, 185);
        margin: 0;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;
        font-size: 25%;
    }

    .products h2{
        font-size: min(16px , 3vw);
    }
